.image-contain {
  object-fit: contain;
}

.image-cover {
  object-fit: cover;
}

.inner {
  width: 940px;
  margin: 0 auto;
  height: 100%;
}

.kov-btn {
  margin-left: auto;
  margin-right: auto;
  height: 55px;
  background-color: #ffffff;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 0px 0.8px rgb(0 0 0 / 12%);
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  letter-spacing: 0.8px;
  color: #4b6a87;
  font-weight: 500;
  font-size: 18px;
}

.section-header {
  font-family: "NotoSansCJKjp", "Montserrat", "NotoSans", sans-serif !important;
  margin: auto;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.6px;
  line-height: 45px;
  margin-bottom: 28px;
}

.close {
  display: none !important;
}

.open {
  display: block !important;
}

.sony-header > a {
  padding: 12px 15px;
  justify-content: flex-end;
}

.pc-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.scroll-up-box {
  padding-bottom: 20px;
}

.icon-pagetop {
  font-size: 22px;
  color: #9f9f9f;
}

@media screen and (max-width: 1200px) {
  .inner {
    width: 760px;
  }

  .section-header {
    font-size: 28px;
    line-height: 39.2px;
    letter-spacing: 0.56px;
  }
}

@media screen and (max-width: 991px) {
  .inner {
    width: 724px;
  }

  .section-header {
    font-size: 26px;
    line-height: 36.4px;
    letter-spacing: 0.52px;
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    width: 100%;
    padding: 0;
    max-width: 370px;
  }

  .sony-header > a {
    padding: 7.5px 10px;
  }

  .pc-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }

  .section-header {
    width: 100%;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 32px;
  }
}

@media screen and (max-width: 401px) {
  .inner {
    width: 100%;
    padding: 0 15px;
    max-width: unset;
  }
}
