.partners-section {
  padding: 68px 0 26px;
}

.partners-section-header {
  width: 310px;
}

.prefectures-content {
  max-width: 610px;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
}

.area-name-partner {
  color: #717171;
  width: 137px;
  height: 32px;
  border: 1px solid #e8e8e8;
  justify-content: center;
}

.list-prefectures {
  padding-left: 6px;
  width: calc(100% - 137px);
  color: #577089;
  line-height: 32px;
  flex-wrap: wrap;
}

.prefecture-name {
  padding-left: 20px;
}

.kov-link {
  justify-content: space-between;
}

.icon-arrow-right {
  display: block;
  font-size: 20px;
  line-height: 32px;
}

.icon-plus,
.icon-minus,
.icon-arrow-right {
  display: none;
}

.prefectures-wrapper:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .partners-section-header {
    width: 286px;
  }
}

@media screen and (max-width: 767px) {
  .area-name-partner {
    height: 55px;
    width: 100%;
    border: none;
    color: #577089;
    padding: 0px 15px 0 20px;
    justify-content: space-between;
  }

  .prefectures-content {
    border: 2px solid #cedade;
    border-radius: 6px;
  }

  .prefectures-wrapper {
    flex-direction: column;
  }

  .prefectures-wrapper:not(:last-child) {
    border-bottom: 2px solid #cedade;
    margin-bottom: 0;
  }

  .prefecture-name {
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #f0f0f0;
    height: 55px;
  }

  .list-prefectures {
    width: 100%;
    padding-left: 0px;
    display: none;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .list-prefectures > .prefecture-name:first-child {
    border-top: 2px solid #cedade;
  }

  .list-prefectures.open {
    display: block;
  }

  .icon-plus,
  .icon-minus {
    font-size: 26px;
  }

  .icon-plus,
  .icon-arrow-right {
    display: block;
  }

  .icon-minus {
    display: none;
  }

  .area-name-partner.active > .icon-plus {
    display: none;
  }

  .area-name-partner.active > .icon-minus {
    display: block;
  }
}
