.inner {
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 30px 51px 30px 37px;
}

.sged-intro-box {
  padding-bottom: 47px;
}

.intro-box-header {
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 27px;
  font-weight: 500;
  color: #3d3d3d;
  margin-bottom: 1px;
}

.intro-box-question {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #3d3d3d;
}

.intro-box-answer {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #717171;
}

@media screen and (max-width: 767px) {
  .sged-intro-box {
    padding-top: 64px;
    padding-bottom: 33px;
  }
}
