.top-posts-box {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 33.5px;
}

.top-posts-box.multiple-rows > .post-box {
  margin-bottom: 70px;
}

.top-posts-inner.sigle-row {
  padding-bottom: 18px;
}

.view-more-btn {
  margin-top: 72px;
  width: 300px;
}

.top-posts-inner {
  padding-top: 46px;
}

.news {
  border-top: 1px solid #e4e4e4;
}

.top-posts-container-header {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 36px;
  margin-bottom: 2px;
}

.top-posts-container-sub-header {
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #717071;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .top-posts-box {
    column-gap: 27.5px;
  }
}
@media screen and (max-width: 991px) {
  .top-posts-box {
    column-gap: 26px;
  }
}

@media screen and (max-width: 767px) {
  .top-posts-box {
    grid-template-columns: 1fr;
  }

  .top-posts-box.multiple-rows > .post-box {
    margin-bottom: 0;
  }

  .top-posts-inner {
    padding-top: 30px;
  }

  .top-posts-inner.sigle-row {
    padding-bottom: 0;
  }

  .view-more-btn {
    margin: 0;
    width: 100%;
  }

  .popular {
    border-radius: 6px 6px 0px 0px;
    margin-top: -36px;
    background-color: #ffffff;
    z-index: 1;
  }

  .top-posts-container-header {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 2px;
  }
}
